<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.axel.recipebook">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Main_Activity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NewRecipe_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RecipeViewer_Activity"
            android:screenOrientation="portrait" />
        <activity android:name=".EditRecipe_Activity" />
        <activity android:name=".ShareRecipe_Activity" />
        <activity android:name=".Share_Receive_Activity" />
        <activity android:name=".ReceiveRecipe_Activity"></activity>
    </application>

</manifest>